/*HOME*/

@font-face {
    src: url(fonts/JockeyOne.ttf);
    font-family: Jockey;
}

@font-face {
    src: url(fonts/AbrilFatface.ttf);
    font-family: Abril;
}

@font-face {
    src: url(fonts/GoudyBookletter1911.ttf);
    font-family: Goudy;
}

@font-face {
    src: url(fonts/Fraunces.ttf);
    font-family: Fraunces;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    z-index: 1000;
}

.lbrown {
    position: absolute;
    width: 461px;
    height: 103px;
    left: 1075px;
    top: 0px;
    background: #C7B274;
    z-index: 1000;
}

.black {
    position: absolute;
    width: 20px;
    height: 103px;
    left: 1030px;
    top: 0px;
    background: #000000;
    z-index: 1000;
}

.brown {
    position: absolute;
    width: 1006px;
    height: 103px;
    left: 0px;
    top: 0px;
    background: #6A5000;
    z-index: 1000;
}

.techyver {
    box-sizing: border-box;
    position: absolute;
    width: 159px;
    height: 77px;
    left: 170px;
    top: 13px;
    border: 2px solid #000000;
    background: linear-gradient(90deg, #808080, #E5E4E2);
    z-index: 1000;
}

.head {
    position: absolute;
    width: 146px;
    height: 57px;
    top: 22px;
    font-family: Jockey;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 1000;
}

#p1 {
    left: 410px;
}

#p2 {
    left: 605px;
}

#p3 {
    left: 802px;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover, a:active {
    color: black;
    text-decoration: none;
}

.udd {
    background-color: #f0f0f0;
    position: absolute;
    width: 86px;
    height: 86px;
    left: 1170px;
    top: 9px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1000;
}

  .udd img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    z-index: 1000;
}

.site {
    position: absolute;
    width: 86px;
    height: 86px;
    left: 1265px;
    top: 9px;
    background-color: #f0f0f0;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.site img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1000;
}

.body {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 0;
    height: 100;
}

#p5 {
    width: 466px;
    height: 177px;
    top: 140px;
    font-family: Abril;
    font-size: 96px;
    left: 250px;
    line-height: 80px;
}

#p6 {
    width: 433px;
    height: 328px;
    top: 263px;
    font-family: Goudy;
    font-size: 30px;
    line-height: 1.5;
    left: 250px;
}

.black-link:link, .black-link:visited {
    color: black;
}

.black-link:hover, .black-link:active {
    color: white;
}

.button {
    position: absolute;
    width: 300px;
    height: 80px;
    left: 303px;
    top: 550px;
    border: 3px solid #000000;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    justify-content: center;
    font-family: Jockey;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    background: #C7B274;
}

.breeds {
    box-sizing: border-box;
    position: absolute;
    width: 551px;
    height: 518px;
    left: 766px;
    top: 140px;
    border: 4px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 147px;
}

#index {
    height: 700px;
}

/*ABOUT*/

#p8 {
    width: 466px;
    height: 177px;
    top: 75px;
    font-family: Abril;
    font-size: 80px;
    left: 250px;
    line-height: 80px;
}

.cat {
    position: absolute;
    width: 450px;
    height: 450px;
    left: 250px;
    top: 204px;
}

.mid {
    position: absolute;
    width: 20px;
    height: 456px;
    left: 780px;
    top: 200px;
    background: #6A5000;
}

.desc {
    position: absolute;
    width: 433px;
    height: 328px;
    left: 870px;
    font-family: Goudy;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    align-items: center;
    color: #000000;
}

#p9 {
    top: 240px;
}

#p10 {
    top: 421px;
}

#p10_1, #p10_2 {
    left: 215px;
    margin: 0;
}

#p10_1, #p10_3 {
    width: 850px;
    height: 80px;
    top: 730px;
    font-family: Jockey;
    font-size: 48px;
    line-height: 80px;
}

#p10_2, #p10_4 {
    min-width: 1123px;
    top: 820px;
    font-family: Goudy;
    font-size: 24px;
    line-height: 33px;
    text-indent: 90px;
}

#p10_3, #p10_4 {
    padding-left: 40px;
    min-width: 1123px;
}

#p10_3 {
    width: 1000px;
}

.red {
    position: relative;
    width: 210px;
    height: 54px;
    left: 651px;
    border: 3px solid #000000;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    font-family: Jockey;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: black;
    background: #C7B274;
    margin-bottom: 15px;
    top: 1360px;
}

.black-link2:link, .black-link2:visited, .black-link3:link, .black-link3:visited {
    color:black;
}

.black-link2:hover, .black-link2:active, .black-link3:hover, .black-link3:active {
    color: white;
}

main {
    height: 1565px;
}

#p10_3 {
    width: 742px;
    top: 970px;
    left: 173px;
}

#p10_4 {
    top: 1065px;
    padding-bottom: 200px;
    text-indent: 0px;
    left: 176px;
}

footer {
    background: linear-gradient(to right, #6A5000, #C7B274);
    text-align: center;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    z-index: 1;
}

footer p {
    color: white;
    margin: 0;
    font-family: Jockey;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

/*CLICK HERE*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#p11 {
    position: absolute;
    width: 308px;
    height: 57px;
    left: 263px;
    top: 160px;
    font-family: Jockey;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

#p12 {
    position: absolute;
    width: 170px;
    height: 33px;
    left: 300px;
    top: 215px;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.container {
    display: grid;
    place-items: center;
    margin-top: 260px;
    margin-bottom: 140px;
    margin-left: 36px;
    padding-bottom: 135px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(auto-fill, 150px);
    grid-column-gap: 25px;
    grid-row-gap: 100px;
    padding: 0;
    margin: 0;
    justify-content: start;
    align-content: start;
  }
  
  .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

.text {
    width: 9.6%;
    color: black;
    padding: 2px 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
}

#row1 {
    top: 417px;
}

#row2 {
    top: 667px;
}

#row3 {
    top: 917px;
}

#row4 {
    top: 1167px;
}

#row5 {
    top: 1417px;
}

#row6 {
    top: 1667px;
}

#row7 {
    top: 1917px;
}

#click {
    height: 1200px;
}

/* CONTACTS */

#p13 {
    width: 466px;
    height: 177px;
    top: 90px;
    font-family: Abril;
    font-size: 80px;
    left: 170px;
}

#p14 {
    width: 233px;
    height: 41px;
    left: 178px;
    top: 255px;
    font-family: Jockey;
    font-size: 40px;
    letter-spacing: -0.011em;
    line-height: 150%;
}

#p15 {
    width: 537px;
    height: 48px;
    left: 178px;
    top: 310px;
    font-family: Goudy;
    font-size: 24px;
    letter-spacing: -0.011em;
    line-height: 25px;
}

input {
    font-family: Goudy;
    font-size: 20px;
    padding-left: 10px;
}

input::placeholder {
    font-family: Goudy, monospace;
    font-size: 19px;
    color: gray;
    text-align: left;
    vertical-align: top;
    padding-top: 0;
    line-height: 0;
}

#name, #email, #num, #message, #submit {
    box-sizing: border-box;
    width: 550px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

#name, #email, #num {
    height: 42px;
}

#message {
    top: 570px;
    height: 157px;
}

#submit {
    height: 42px;
    width: 89px;
    margin-bottom: 50px;
    border: 2px solid black;
    font-family: Jockey;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: black;
    background: #C7B274;
    cursor: pointer;
}

#submit:link, #submit:visited {
    color: black;
}

#submit:hover, #submit:active {
    color: white;
}

.form {
    position: relative;
    margin-left: 178px;
    top: 390px;
}

#p16 {
    position: relative;
    width: 190px;
    height: 23px;
    font-family: Goudy;
    font-size: 15px;
    left: 175px;
    margin-top: 370px;
    margin-bottom: 0px;
}

.logos {
    position: relative;
    display: grid;
    place-items: left;
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 170px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 45px);
    grid-column-gap: 7px;
    padding: 0;
    margin: 0;
    justify-content: start;
    align-content: start;
}

.socmed img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#p17 {
    position: absolute;
    width: 537px;
    height: 48px;
    left: 884px;
    top: 216px;
    font-family: Goudy;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    align-items: center;
    letter-spacing: -0.011em;
    color: #000000;
}

.profiles {
    display: block;
}

.profiles img {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}

#yezsa, #yvonne, #jhayr, #jhezron {
    box-sizing: border-box;
    position: absolute;
    width: 75px;
    height: 75px;
    left: 880px;
    top: 281px;
    border: 1px solid black;
    border-radius: 44px;
}

#yvonne {
    top: 368px;
}

#jhayr {
    top: 455px;
}

#jhezron {
    top: 542px;
}

#contact {
    height: 950px;
}

.details {
    position: absolute;
    width: 230px;
    height: 48px;
    left: 975px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: -0.011em;
}

#p18, #p19, #p20, #p21 {
    top: 275px;
    font-family: Jockey;
    color: black;
}

#p18_2, #p19_2, #p20_2, #p21_2 {
    top: 293px;
    font-family: Goudy;
    color: black;
}

#p18_3, #p19_3, #p20_3, #p21_3 {
    top: 310px;
    font-family: Goudy;
    color: #6A5000;
}

#p19 {
    top: 363px;
}

#p19_2 {
    top: 381px;
}

#p19_3 {
    top: 398px;
}

#p20 {
    top: 451px;
}

#p20_2 {
    top: 469px;
}

#p20_3 {
    top: 486px;
}

#p21 {
    top: 539px;
}

#p21_2 {
    top: 557px;
}

#p21_3 {
    top: 574px;
}

.contacts {
    position: absolute;
    width: 360px;
    height: 260px;
    left: 881px;
    top: 630px;
    background: #E0D4B2;
    border-radius: 39px;
}

#p22, #p23 {
    position: absolute;
    width: 154px;
    height: 57px;
    left: 910px;
    top: 630px;
    font-family: Jockey;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #C20000;
}

#p22_2, #p23_3 {
    position: absolute;
    width: 207px;
    height: 82px;
    left: 995px;
    top: 670px;
    font-family: Goudy;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: -0.011em;
    color: black;
}

#p23 {
    top: 748px;
}

#p23_3 {
    width: 248px;
    top: 800px;
}

#tele, #mail {
    position: absolute;
    width: 53px;
    height: 53px;
    left: 918px;
    top: 685px;
}

#mail {
    height: 60px;
    top: 805px;
}

/* TIPS */

.tips {
    position: absolute;
    width: 1004px;
    height: 177px;
    left: 196px;
    top: 150px;
    font-family: Jockey;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    display: flex;
    align-items: center;
    color: black;
    text-indent: 100px;
    text-align: justify;
}

#p24 {
    text-indent: 0px;
}

#p24_2, #p24_3, #p24_4, #p24_5, #p24_6, #p24_7 {
    width: 1120px;
    height: 177px;
    top: 310px;
    font-family: Goudy;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: -0.011em;
    text-indent: 100px;
}

#p24_3 {
    top: 500px;
}

#p24_4 {
    top: 710px;
}

#p24_5 {
    top: 920px;
}

#p24_6 {
    top: 1110px;
}

#p24_7 {
    top: 1250px;
}

.tip {
    height: 1540px;
}

.back {
    position: absolute;
    width: 154px;
    height: 57px;
    left: 1350px;
    top: 1450px;
    font-family: Jockey;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6A5000;
}

.backbutton:link, .backbutton:visited {
    color: #6A5000;
}

.backbutton:hover, .backbutton:active {
    color: black;
}

/* CATS */

.namebox {
    box-sizing: border-box;
    position: absolute;
    width: 421px;
    height: 88px;
    left: 196px;
    top: 160px;
    border: 5px solid #6A5000;
}

.catname {
    position: absolute;
    width: 372px;
    height: 101px;
    left: 275px;
    top: 154px;
    font-family: Jockey;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.catpic img {
    position: absolute;
    width: 421px;
    height: 421px;
    left: 196px;
    top: 278px;
}

.def, .per {
    position: absolute;
    width: 625px;
    height: 466px;
    left: 669px;
    font-family: Goudy;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #000000;
    text-indent: 100px;
}

.per {
    font-family: Jockey;
    font-size: 35px;
    color: #6A5000;
    text-indent: 0px;
}

#def1 {
    top: 109px;
}

#per1 {
    top: 226px;
}

#def1_2 {
    top: 372px;
}

.column1, .column2 {
    position: absolute;
    width: 452px;
    height: 268px;
    left: 292px;
    top: 750px;
    font-family: Jockey;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 90px;
    display: flex;
    align-items: center;
    color: #6A5000;
}

.column2 {
    top: 718px;
    height: 240px;
    left: 764px;
}

.equal1, .equal2 {
    position: absolute;
    font-family: Goudy;
    left: 400px;
    top: 774px;
    font-size: 32px;
    color: black;
}

.equal2 {
    top: 772px;
    left: 905px;
}

#eq2 {
    top: 865px;
}

#eq3 {
    left: 420px;
    top: 956px;
}

#eq5 {
    top: 863px;
    left: 860px;
}

#nb2 {
    top: 1099px;
}

#name2 {
    top: 1093px;
    left: 227px;
}

#cat2 img {
    top: 1211px;
}

/* image

position: absolute;
width: 419.7px;
height: 404.93px;
left: 198.06px;
top: 1211px;

background: url(image.png);
transform: rotate(0.15deg);
*/






