/*HOME*/

@font-face {
    src: url(fonts/JockeyOne.ttf);
    font-family: Jockey;
}

@font-face {
    src: url(fonts/AbrilFatface.ttf);
    font-family: Abril;
}

@font-face {
    src: url(fonts/GoudyBookletter1911.ttf);
    font-family: Goudy;
}

@font-face {
    src: url(fonts/Fraunces.ttf);
    font-family: Fraunces;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    z-index: 1000;
}

.lbrown {
    position: absolute;
    width: 461px;
    height: 103px;
    left: 1075px;
    top: 0px;
    background: #C7B274;
    z-index: 1000;
}

.black {
    position: absolute;
    width: 20px;
    height: 103px;
    left: 1030px;
    top: 0px;
    background: #000000;
    z-index: 1000;
}

.brown {
    position: absolute;
    width: 1006px;
    height: 103px;
    left: 0px;
    top: 0px;
    background: #705502;
    z-index: 1000;
}

.techyver {
    box-sizing: border-box;
    position: absolute;
    width: 159px;
    height: 77px;
    left: 170px;
    top: 13px;
    border: 2px solid #000000;
    background: linear-gradient(90deg, #808080, #E5E4E2);
    z-index: 1000;
}

.head {
    position: absolute;
    width: 146px;
    height: 57px;
    top: 22px;
    font-family: Jockey;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 1000;
}

#p1 {
    left: 410px;
}

#p2 {
    left: 605px;
}

#p3 {
    left: 802px;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover, a:active {
    color: black;
    text-decoration: none;
}

.udd {
    background-color: #f0f0f0;
    position: absolute;
    width: 86px;
    height: 86px;
    left: 1170px;
    top: 9px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1000;
}

  .udd img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    z-index: 1000;
}

.site {
    position: absolute;
    width: 86px;
    height: 86px;
    left: 1265px;
    top: 9px;
    background-color: #f0f0f0;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.site img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1000;
}

.body {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 0;
    height: 100;
}

#p5 {
    width: 466px;
    height: 177px;
    top: 140px;
    font-family: Abril;
    font-size: 96px;
    left: 250px;
    line-height: 80px;
}

#p6 {
    width: 433px;
    height: 328px;
    top: 263px;
    font-family: Goudy;
    font-size: 30px;
    line-height: 1.5;
    left: 250px;
}

.black-link:link, .black-link:visited {
    color: black;
}

.black-link:hover, .black-link:active {
    color: white;
}

.button {
    position: absolute;
    width: 300px;
    height: 80px;
    left: 303px;
    top: 550px;
    border: 3px solid #000000;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    justify-content: center;
    font-family: Jockey;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    background: #C7B274;
}

.breeds {
    box-sizing: border-box;
    position: absolute;
    width: 551px;
    height: 518px;
    left: 766px;
    top: 140px;
    border: 4px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 147px;
}

#index {
    height: 700px;
}

/*ABOUT*/

#p8 {
    width: 466px;
    height: 177px;
    top: 75px;
    font-family: Abril;
    font-size: 80px;
    left: 250px;
    line-height: 80px;
}

.cat {
    position: absolute;
    width: 450px;
    height: 450px;
    left: 250px;
    top: 204px;
}

.mid {
    position: absolute;
    width: 20px;
    height: 456px;
    left: 780px;
    top: 200px;
    background: #6A5000;
}

.desc {
    position: absolute;
    width: 433px;
    height: 328px;
    left: 870px;
    font-family: Goudy;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    align-items: center;
    color: #000000;
}

#p9 {
    top: 240px;
}

#p10 {
    top: 421px;
}

#p10_1, #p10_2 {
    left: 215px;
    margin: 0;
}

#p10_1, #p10_3 {
    width: 850px;
    height: 80px;
    top: 730px;
    font-family: Jockey;
    font-size: 48px;
    line-height: 80px;
}

#p10_2, #p10_4 {
    min-width: 1123px;
    top: 820px;
    font-family: Goudy;
    font-size: 24px;
    line-height: 33px;
    text-indent: 90px;
}

#p10_3, #p10_4 {
    padding-left: 40px;
    min-width: 1123px;
}

#p10_3 {
    width: 1000px;
}

.red {
    position: relative;
    width: 210px;
    height: 54px;
    left: 651px;
    border: 3px solid #000000;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    font-family: Jockey;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: black;
    background: #C7B274;
    margin-bottom: 15px;
    top: 1360px;
}

.black-link2:link, .black-link2:visited, .black-link3:link, .black-link3:visited {
    color:black;
}

.black-link2:hover, .black-link2:active, .black-link3:hover, .black-link3:active {
    color: white;
}

main {
    height: 1565px;
}

#p10_3 {
    width: 742px;
    top: 970px;
    left: 173px;
}

#p10_4 {
    top: 1065px;
    padding-bottom: 200px;
    text-indent: 0px;
    left: 176px;
}

footer {
    background: linear-gradient(to right, #6A5000, #C7B274);
    text-align: center;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    z-index: 10;
}

footer p {
    color: white;
    margin: 0;
    font-family: Jockey;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

/*CLICK HERE*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#p11 {
    position: absolute;
    width: 308px;
    height: 57px;
    left: 263px;
    top: 160px;
    font-family: Jockey;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

#p12 {
    position: absolute;
    width: 170px;
    height: 33px;
    left: 300px;
    top: 215px;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.container {
    display: grid;
    place-items: center;
    margin-top: 260px;
    margin-bottom: 140px;
    margin-left: 36px;
    padding-bottom: 135px;
    overflow: visible;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(auto-fill, 150px);
    grid-column-gap: 25px;
    grid-row-gap: 100px;
    padding: 0;
    margin: 0;
    justify-content: start;
    align-content: start;
  }

  .photo {
    display: block;
  }

  .photo a {
    position: relative;
    display: inline-block;
    z-index: 10;
  }

  .photo img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    cursor: pointer;
  }

.text {
    width: 9.6%;
    color: black;
    padding: 2px 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
}

#row1 {top: 417px;}

#row2 {top: 667px;}

#row3 {top: 917px;}

#row4 {top: 1167px;}

#row5 {top: 1417px;}

#row6 {top: 1667px;}

#row7 {top: 1917px;}

#click {height: 1200px;}

/* CONTACTS */

#p13 {
    width: 466px;
    height: 177px;
    top: 90px;
    font-family: Abril;
    font-size: 80px;
    left: 170px;
}

#p14 {
    width: 233px;
    height: 41px;
    left: 178px;
    top: 255px;
    font-family: Jockey;
    font-size: 40px;
    letter-spacing: -0.011em;
    line-height: 150%;
}

#p15 {
    width: 537px;
    height: 48px;
    left: 178px;
    top: 310px;
    font-family: Goudy;
    font-size: 24px;
    letter-spacing: -0.011em;
    line-height: 25px;
}

input {
    font-family: Goudy;
    font-size: 20px;
    padding-left: 10px;
}

input::placeholder {
    font-family: Goudy, monospace;
    font-size: 19px;
    color: gray;
    text-align: left;
    vertical-align: top;
    padding-top: 0;
    line-height: 0;
}

#name, #email, #num, #message, #submit {
    box-sizing: border-box;
    width: 550px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

#name, #email, #num {height: 42px;}

#message {
    top: 570px;
    height: 157px;
}

#submit {
    height: 42px;
    width: 89px;
    margin-bottom: 50px;
    border: 2px solid black;
    font-family: Jockey;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: black;
    background: #C7B274;
    cursor: pointer;
    padding-left: 3px;
}

#submit:link, #submit:visited {color: black;}

#submit:hover, #submit:active {color: white;}

.form {
    position: relative;
    margin-left: 178px;
    top: 390px;
}

#p16 {
    position: relative;
    width: 190px;
    height: 23px;
    font-family: Goudy;
    font-size: 15px;
    left: 175px;
    margin-top: 370px;
    margin-bottom: 0px;
}

.logos {
    position: relative;
    display: grid;
    place-items: left;
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 170px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 45px);
    grid-column-gap: 7px;
    padding: 0;
    margin: 0;
    justify-content: start;
    align-content: start;
}

.socmed img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#p17 {
    position: absolute;
    width: 537px;
    height: 48px;
    left: 884px;
    top: 216px;
    font-family: Goudy;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    align-items: center;
    letter-spacing: -0.011em;
    color: #000000;
}

.profiles {display: block;}

.profiles img {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}

#yezsa, #yvonne, #jhayr, #jhezron {
    box-sizing: border-box;
    position: absolute;
    width: 75px;
    height: 75px;
    left: 880px;
    top: 281px;
    border: 1px solid black;
    border-radius: 44px;
}

#yvonne {top: 368px;}

#jhayr {top: 455px;}

#jhezron {top: 542px;}

#contact {height: 950px;}

.details {
    position: absolute;
    width: 230px;
    height: 48px;
    left: 975px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: -0.011em;
}

#p18, #p19, #p20, #p21 {
    top: 275px;
    font-family: Jockey;
    color: black;
}

#p18_2, #p19_2, #p20_2, #p21_2 {
    top: 293px;
    font-family: Goudy;
    color: black;
}

#p18_3, #p19_3, #p20_3, #p21_3 {
    top: 310px;
    font-family: Goudy;
    color: #6A5000;
}

#p19 {top: 363px;}

#p19_2 {top: 381px;
}

#p19_3 {top: 398px;}

#p20 {top: 451px;}

#p20_2 {top: 469px;}

#p20_3 {top: 486px;}

#p21 {top: 539px;}

#p21_2 {top: 557px;}

#p21_3 {top: 574px;}

.contacts {
    position: absolute;
    width: 360px;
    height: 260px;
    left: 881px;
    top: 630px;
    background: #E0D4B2;
    border-radius: 39px;
}

#p22, #p23 {
    position: absolute;
    width: 154px;
    height: 57px;
    left: 910px;
    top: 630px;
    font-family: Jockey;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #C20000;
}

#p22_2, #p23_3 {
    position: absolute;
    width: 207px;
    height: 82px;
    left: 995px;
    top: 670px;
    font-family: Goudy;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: -0.011em;
    color: black;
}

#p23 {top: 748px;}

#p23_3 {
    width: 248px;
    top: 800px;
}

#tele, #mail {
    position: absolute;
    width: 53px;
    height: 53px;
    left: 918px;
    top: 685px;
}

#mail {
    height: 60px;
    top: 805px;
}

/* TIPS */

.tips {
    position: absolute;
    width: 1004px;
    height: 177px;
    left: 196px;
    top: 150px;
    font-family: Jockey;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    display: flex;
    align-items: center;
    color: black;
    text-indent: 100px;
    text-align: justify;
}

#p24 {text-indent: 0px;}

#p24_2, #p24_3, #p24_4, #p24_5, #p24_6, #p24_7 {
    width: 1120px;
    height: 177px;
    top: 310px;
    font-family: Goudy;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: -0.011em;
    text-indent: 100px;
}

#p24_3 {top: 500px;}

#p24_4 {top: 710px;}

#p24_5 {top: 920px;}

#p24_6 {top: 1110px;}

#p24_7 {top: 1250px;}

.tip {height: 1540px;}

.back {
    position: absolute;
    width: 154px;
    height: 57px;
    left: 1350px;
    top: 1450px;
    font-family: Jockey;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6A5000;
}

.backbutton:link, .backbutton:visited {color: #6A5000;}

.backbutton:hover, .backbutton:active {color: black;}

/* CATS */

.namebox {
    box-sizing: border-box;
    position: absolute;
    width: 421px;
    height: 88px;
    left: 196px;
    top: 160px;
    border: 5px solid #6A5000;
}

.catname {
    position: absolute;
    width: 372px;
    height: 101px;
    left: 275px;
    top: 154px;
    font-family: Jockey;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.catpic img {
    position: absolute;
    width: 421px;
    height: 421px;
    left: 196px;
    top: 278px;
}

.def, .per {
    position: absolute;
    width: 625px;
    height: 466px;
    left: 669px;
    font-family: Goudy;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #000000;
    text-indent: 50px;
}

.per {
    font-family: Jockey;
    font-size: 35px;
    color: #6A5000;
    text-indent: 0px;
}

#def1 {top: 109px;}

#per1 {top: 226px;}

#def1_2 {top: 372px;}

.column1, .column2 {
    position: absolute;
    width: 452px;
    height: 268px;
    left: 292px;
    top: 750px;
    font-family: Jockey;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 90px;
    display: flex;
    align-items: center;
    color: #6A5000;
}

.column2 {
    top: 718px;
    height: 240px;
    left: 764px;
}

.equal1, .equal2 {
    position: absolute;
    font-family: Goudy;
    left: 400px;
    top: 774px;
    font-size: 32px;
    color: black;
}

.equal2 {
    top: 772px;
    left: 905px;
}

#eq2 {top: 865px;}

#eq3 {
    left: 420px;
    top: 956px;
}

#eq5 {
    top: 863px;
    left: 860px;
}

#nb2 {top: 1099px;}

#name2 {
    top: 1093px;
    left: 227px;
}

#cat2 img {top: 1211px;}

#def2 {top: 1095px;}

#per2 {top: 1266px;}

#def1_3 {top: 1412px;}

#c3 {top: 1750px;}

#eq6 {top: 1771px;}

#eq7 {top: 1865px;}

#eq8 {
    top: 1954px;
    left: 420px;
}

#c4 {top: 1715px;}

#eq9 {top: 1770px;}

#eq10 {
    top: 1860px;
    left: 860px;
}

#nb3 {
    height: 110px;
    top: 2099px;
}

#name3 {
    top: 2103px;
    left: 228px;
    line-height: 50px;;
}

#cat3 img {top: 2231px;}

#def3 {top: 2073px;}

#per3 {top: 2196px;}

#def1_4 {top: 2337px;}

#c5 {top: 2715px;}

#eq11 {top: 2737px;}

#eq12 {top: 2827px;}

#eq13 {
    top: 2916px;
    left: 420px;
}

#c6 {top: 2675px;}

#eq14 {top: 2729px;}

#eq15 {
    left: 862px;
    top: 2820px;
}

#nb4 {top: 3050px;}

#name4 {
    left: 300px;
    top: 3044px;
}

#cat4 img {top: 3161px;}

#def4 {top: 2991px;}

#per4 {top: 3106px;}

#def1_5 {top: 3220px;}

#c7 {top: 3650px;}

#eq16 {top: 3673px;}

#eq17 {top: 3763px;}

#eq18 {
    left: 420px;
    top: 3852px;
}

#c8 {top: 3610px;}

#eq19 {top: 3663px;}

#eq20 {
    left: 860px;
    top: 3756px;
}

#nb5 {top: 3985px;}

#name5 {
    left: 316px;
    top: 3979px;
}

#cat5 img {top: 4106px;}

#def5 {top: 3976px;}

#per5 {top: 4141px;}

#def1_6 {top: 4265px;}

#c9 {top: 4605px;}

#eq21 {top: 4630px;}

#eq22 {top: 4720px;}

#eq23 {
    left: 420px;
    top: 4811px;
}

#c10 {top: 4572px;}

#eq24 {top: 4626px;}

#eq25 {
    left: 860px;
    top: 4717px;
}

#nb6 {top: 4925px;}

#name6 {
    left: 316px;
    top: 4920px;
}

#cat6 img {top: 5050px;}

#def6 {top: 4897px;}

#per6 {top: 5021px;}

#def1_7 {top: 5160px;}

#c11 {top: 5550px;}

#eq26 {top: 5567px;}

#eq27 {top: 5663px;}

#eq28 {
    left: 420px;
    top: 5751px;
}

#c12 {top: 5510px;}

#eq29 {top: 5564px;}

#eq30 {
    left: 863px;
    top: 5654px;
}

#nb7 {top: 5865px;}

#name7 {
    left: 310px;
    top: 5860px;
}

#cat7 img {top: 5990px;}

#def7 {top: 5865px;}

#per7 {top: 6021px;}

#def1_8 {top: 6148px;}

#c13 {top: 6500px;}

#eq31 {top: 6523px;}

#eq32 {top: 6613px;}

#eq33 {
    left: 422px;
    top: 6705px;
}

#c14 {top: 6468px;}

#eq34 {top: 6524px;}

#eq35 {
    left: 863px;
    top: 6613px;
}

#nb8 {
    height: 125px;
    top: 6845px;
}

#name8 {
    line-height: 50px;
    top: 6855px;
    left: 228px;
}

#cat8 img {top: 7000px;}

#def8 {top: 6845px;}

#per8 {top: 6971px;}

#def1_9 {top: 7130px;}

#c15 {top: 7500px;}

#eq36 {top: 7522px;}

#eq37 {top: 7613px;}

#eq38 {
    left: 422px;
    top: 7702px;
}

#c16 {top: 7464px;}

#eq39 {top: 7519px;}

#eq40 {
    left: 860px;
    top: 7609px;
}

#nb9 {top: 7845px;}

#name9 {
    left: 299px;
    top: 7839px;
}

#cat9 img {top: 7960px;}

#def9 {top: 7847px;}

#per9 {top: 8011px;}

#def1_10 {top: 8208px;}

#c17 {top: 8600px;}

#eq41 {top: 8624px;}

#eq42 {top: 8714px;}

#eq43 {
    left: 420px;
    top: 8805px;
}

#c18 {top: 8567px;}

#eq44 {top: 8621px;}

#eq45 {
    left: 860px;
    top: 8713px;
}

#nb10 {top: 8945px;}

#name10 {
    left: 268px;
    top: 8939px;
}

#cat10 img {top: 9060px;}

#def10 {top: 8880px;}

#per10 {top: 8980px;}

#def1_11 {top: 9137px;}

#c19 {top: 9520px;}

#eq46 {top: 9544px;}

#eq47 {top: 9634px;}

#eq48 {
    left: 420px;
    top: 9724px;
}

#c20 {top: 9486px;}

#eq49 {top: 9541px;}

#eq50 {
    left: 860px;
    top: 9630px;
}

#nb11 {top: 9845px;}

#name11 {
    left: 280px;
    top: 9839px;
}

#cat11 img {top: 9960px;}

#def11 {top: 9835px;}

#per11 {top: 9990px;}

#def1_12 {top: 10105px;}

#c21 {top: 10420px;}

#eq51 {top: 10444px;}

#eq52 {top: 10534px;}

#eq53 {
    left: 420px;
    top: 10620px;
}

#c22 {top: 10386px;}

#eq54 {top: 10441px;}

#eq55 {
    left: 863px;
    top: 10530px;
}

.catsscroll {height: 50000px;}

#nb12 {top: 10750px;}

#name12 {
    left: 242px;
    top: 10743px;
}

#cat12 img {top: 10870px;}

#def12 {top: 10746px;}

#per12 { top: 10898px;}

#def1_13 {top: 11015px;}

#c23 {top:11330px;}

#eq56 {top: 11350px;}

#eq57 {
    left: 400px;
    top: 11443px;
}

#c24 {top: 11300px;}

#eq58 {
    top: 11534px;
    left: 422px;
}

#eq59 {top: 11355px;}

#eq60 {
    top: 11443px;
    left: 863px;
}

#nb13 {
    top: 11680px;
    height: 113px;
}

#name13 {
    left: 238px;
    top: 11684px;
    line-height: 50px;
}

#cat13 img {top: 11810px;}

#def13 {top: 11685px;}

#per13 {top: 11835px;}

#def1_14 {top: 11960px;}

#c25 {top: 12305px;}

#c26 {top: 12271px;}

#eq61 {top: 12329px;}

#eq62 {top: 12417px;}

#eq63 {
    top: 12506px;
    left: 422px;
}

#eq64 {top: 12327px;}

#eq65 {
    top: 12417px;
    left: 863px;
}

#nb14 {
    top: 12640px;
    height: 113px;
}

#name14 {
    top: 12644px;
    line-height: 50px;
    left: 231px;
}

#cat14 img {top: 12767px;}

#def14 {top: 12648px;}

#per14 {top: 12795px;}

#def1_15 {top: 12914px;}

#c27 {top: 13240px;}

#c28 {top: 13211px;}

#eq66 {top: 13264px;}

#eq67 {top: 13356px;}

#eq68 {
    top: 13446px;
    left: 422px;
}

#eq69 {top: 13265px;}

#eq70 {
    top: 13356px;
    left: 863px;
}

#nb15 {top: 13565px;}

#name15 {
    top: 13557px;
    left: 225px;
}

#cat15 img {top: 13675px;}

#def15 {top: 13517px;}

#def1_16 {top: 13715px;}

#per15 {top: 13623px;}

#c29 {top: 14120px;}

#c30 {top: 14089px;}

#eq71 {top: 14145px;}

#eq72 {top: 14235px;}

#eq73 {
    top: 14324px;
    left: 422px;
}

#eq74 {top: 14145px;}

#eq75 {
    top: 14235px;
    left: 863px;
}

#nb16 {top: 14450px;}

#name16 {top: 14441px;}

#cat16 img {top: 14560px;}

#def16 {top: 14396px;}

#def1_17 {top: 14620px;}

#per16 {top: 14515px;}

#c31 {top: 14995px;}

#c32 {top: 14965px;}

#eq76 {top: 15015px;}

#eq77 {top: 15110px;}

#eq78 {
    top: 15200px;
    left: 422px;
}

#eq79 {top: 15021px;}

#eq80 {
    top: 15111px;
    left: 863px;
}

#nb17 {
    top: 15345px;
    height: 113px;
}

#name17 {
    top: 15349px;
    line-height: 50px;
    left: 231px;
}

#cat17 img {top: 15468px;}

#def17 {top: 15342px;}

#def1_18 {top: 15640px;}

#per17 {top: 15490px;}

#c33 {top: 15995px;}

#c34 {top: 15966px;}

#eq81 {top: 16020px;}  

#eq82 {top: 16110px;}

#eq83 {
    top: 16200px;
    left: 422px;
}

#eq84 {
    top: 16029px;
    line-height: 28px;
}

#eq85 {
    top: 16110px;
    left: 863px;
}

#nb18 {top: 16325px;}

#name18 {
    top: 16317px;
    left: 330px;
}

#cat18 img {top: 16436px;}

#def18 {top: 16293px;}

#def1_19 {top: 16520px;}

#per18 {top: 16413px;}

#c35 {top: 16871px;}

#c36 {top: 16842px;}

#eq86 {top: 16896px;}

#eq87 {top: 16985px;}

#eq88 {
    top: 17075px;
    left: 422px;
}

#eq89 {top: 16896px;}

#eq90 {
    top: 16986px;
    left: 863px;
}

#nb19 {top: 17220px;}

#name19 {top: 17213px;}

#cat19 img {top: 17335px;}

#def19 {top: 17207px;}

#def1_20 {top: 17510px;}

#per19 {top: 17350px;}

#c37 {top: 17875px;}

#c38 {top: 17846px;}

#eq91 {
    top: 17910px;
    line-height: 25px;
}

#eq92 {top: 17989px}

#eq93 {
    top: 18079px;
    left: 422px;
}

#eq94 {
    top: 17910px;
    line-height: 30px;
}

#eq95 {
    top: 17991px;
    left: 863px;
}

#nb20 {top: 18206px;}

#name20 {
    top: 18198px;
    left: 330px;
}

#cat20 img {top: 18317px;}

#def20 {top: 18163px;}

#def1_21 {top: 18400px;}

#per20 {top: 18290px;}

#c39 {top: 18752px;}

#c40 {top: 18723px;}

#eq96 {top: 18777px;}

#eq97 {top: 18866px;}

#eq98 {
    top: 18956px;
    left: 422px;
}

#eq99 {
    top: 18785px;
    line-height: 30px;
}

#eq100 {
    top: 18870px;
    left: 863px;
}

#nb21 {top: 19085px;}

#name21 {
    top: 19080px;
    left: 284px;
}

#cat21 img {top: 19198px;}

#def21 {top: 19053px;}

#def1_22 {top: 19295px;}

#per21 {top: 19175px;}

#c41 {top: 19663px;}

#c42 {top: 19632px;}

#eq101 {top: 19688px;}

#eq102 {top: 19777px;}

#eq103 {
    top: 19867px;
    left: 422px;
}

#eq104 {
    top: 19695px;
    line-height: 25px;
}
#eq105 {
    top: 19779px;
    left: 863px;
}

#nb22 {
    top: 20013px;
    height: 113px;
}

#name22 {
    top: 20017px;
    line-height: 50px;
    left: 230px;
}

#cat22 img {top: 20143px;}

#def22 {top: 20024px;}

#def1_23 {top: 20290px;}

#per22 {top: 20170px;}

#c43 {top: 20625px;}

#c44 {top: 20596px;}

#eq106 {top: 20650px;}

#eq107 {top: 20741px;}

#eq108 {
    top: 20831px;
    left: 422px;
}

#eq109 {
    top: 20660px;
    line-height: 28px;
}

#eq110 {
    top: 20742px;
    left: 863px;
}

#nb23 {top: 20976px;}

#name23 {
    top: 20968px;
    left: 325px;
}

#cat23 img {top: 21087px;}

#def23 {top: 20940px;}

#def1_24 {top: 21190px;}

#per23 {top: 21063px;}

#c45 {top: 21525px;}

#c46 {top: 21496px;}

#eq111 {top: 21550px;}

#eq112 {top: 21639px;}

#eq113 {
    top: 21729px;
    left: 422px;
}

#eq114 {top: 21550px;}

#eq115 {
    top: 21640px;
    left: 863px;
}

#nb24 {top: 21874px;}

#name24 {
    top: 21865px;
    left: 300px;
}

#cat24 img {top: 21984px;}

#def24 {top: 21890px;}

#def1_25 {top: 22145px;}

#per24 {top: 22060px;}

#c47 {top: 22460px;}

#c48 {top: 22431px;}

#eq116 {
    top: 22485px;
    line-height: 33px;
}

#eq117 {top: 22574px;}

#eq118 {
    top: 22664px;
    left: 422px;
}

#eq119 {top: 22485px;}

#eq120 {
    top: 22575px;
    left: 863px;
}

#nb25 {top: 22809px;}

#name25 {
    top: 22802px;
    left: 306px;
}

#cat25 img {top: 22921px;}

#def25 {top: 22790px;}

#def1_26 {top: 23010px;}

#c49 {top: 23380px;}

#c50 {top: 23351px}

#eq121 {top: 23399px;}

#eq122 {top: 23495px;}

#eq123 {
    top: 23585px;
    left: 422px;
}

#eq124 {
    top: 23413px;
    line-height: 30px;
}

#eq125 {
    top: 23496px;
    left: 863px;
}

#nb26 {top: 23730px;}

#name26 {top: 23722px;}

#cat26 img {
    top: 23843px;
    border: 2px solid #000000;
}

#def26 {top: 23700px;}

#def1_27 {top: 23950px;}

#per26 {top: 23827px;}

#c51 {top: 24275px;}

#c52 {top: 24246px;}

#eq126 {top: 24300px;}

#eq127 {top: 24389px;}

#eq128 {
    top: 24479px;
    left: 422px;
}

#eq129 {top: 24300px;}

#eq130 {
    top: 24390px;
    left: 863px;
}

#nb27 {top: 24624px;}

#name27 {
    top: 24615px;
    left: 293px;
}

#cat27 img {top: 24740px;}

#def27 {top: 24630px;}

#def1_28 {top: 24880px;}

#per27 {top: 24790px;}

#c53 {top: 25195px;}

#c54 {top: 25166px;}

#eq131 {top: 25220px;}

#eq132 {top: 25309px;}

#eq133 {
    top: 25399px;
    left: 422px;
}

#eq134 {top: 25220px;}

#eq135 {
    top: 25310px;
    left: 863px;
}

#nb28 {top: ;}